# This is a template environment file containing variables related to BEF_MET_Script.sh
# Read through this file and make any relevant changes before running the script

# The directory which contains this script, usually your working directory
SCRIPT_DIR=$PWD
# The directory where Dropbox syncs the data. By default this is in ~/Dropbox
DROPBOX_DIR=$HOME/Dropbox/BEF\ Met\ Data\ 2012/

# Primary email recipient
PRIMARY_EMAIL=null@example.com
# CC recipients
# If you have less than 5 recipients, leave the extras as null@example.com
CC_EMAIL1=null@example.com
CC_EMAIL2=null@example.com
CC_EMAIL3=null@example.com
CC_EMAIL4=null@example.com
CC_EMAIL5=null@example.com
